In [2]:

import pandas as pd 


import seaborn as sns 

import matplotlib.pyplot as plt 


df = pd.read_csv("Book2.csv",encoding = "unicode_escape")

In [11]:
df.head(15)

,Unnamed: 0,LOWER COND TEMP AT INELT',LOWER COND TEMP AT OUTLET,UPPER COND TEMPE AT INELT,UPPER COND TEMPE AT OUTLET,BENZOL WASHER INLET GAS TEMP,BENZOL WASHER OUTLET GAS TEMP,BENZOL WASHER INLET OIL TEMP,BENZOL WASHER RESISTANCE,RICH OIL FLOW(M3/hr),...,Unnamed: 201,Unnamed: 202,Unnamed: 203,Unnamed: 204,Unnamed: 205,Unnamed: 206,Unnamed: 207,Unnamed: 208,Unnamed: 209,Unnamed: 210
1,NaN,33.99,30.02,27.36,22.18,27.58,35.97,27.58,3.12,65.39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,34.29,31,27.66,22.75,27.39,36.58,27.39,3.35,65.58,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,34.11,31.92,26.67,22.81,27.59,37.54,27.59,2.36,65.43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,33.75,31.16,28.5,23.54,28.11,36.7,28.11,2.54,65.46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,33.12,30.58,28.87,23.25,28.6,36.13,28.6,2.63,65.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,33.16,29.41,28.54,22.75,28,35.91,28,2.22,64.22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,33.75,31.2,29.54,23.66,28.6,35.95,28.6,2.9,63.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,33.2,29.29,29.4,23.33,28.9,36.27,28.9,2.27,64.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,33.16,29.7,29.91,23.45,28.98,36.08,28.98,2.56,62.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,33.29,30.08,28.75,23,28.2,36.37,28.2,2.7,63.94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,35.08,32.2,27.8,22.78,27.52,35.16,27.52,2.83,64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,33.2,30.37,27.41,21.91,27.4,35.91,27.4,2.7,65.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,33,30,29.16,23.08,28.29,35.58,28.29,2.9,65.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,32.87,29.41,28.33,22.5,27.65,36.91,27.65,3.7,65.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,32.75,29,28.08,23.04,27.2,35.02,27.2,2.86,65.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.sample(10)

,Unnamed: 0,LOWER COND TEMP AT INELT',LOWER COND TEMP AT OUTLET,UPPER COND TEMPE AT INELT,UPPER COND TEMPE AT OUTLET,BENZOL WASHER INLET GAS TEMP,BENZOL WASHER OUTLET GAS TEMP,BENZOL WASHER INLET OIL TEMP,BENZOL WASHER RESISTANCE,RICH OIL FLOW(M3/hr),...,Unnamed: 201,Unnamed: 202,Unnamed: 203,Unnamed: 204,Unnamed: 205,Unnamed: 206,Unnamed: 207,Unnamed: 208,Unnamed: 209,Unnamed: 210
278,NaN,By pass,By pass,By pass,By pass,0,12.58,34.17,3.46,62.29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
647,NaN,32.25,30.54,20.12,23.7,29.44,33.75,29.44,3.3,64.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405,NaN,29.69,27.45,24.91,25.62,25.3,28.87,0,3.75,62.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
641,NaN,31.33,29.87,20,23.5,28.42,33.14,28.42,3.08,64.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
751,NaN,31.46,29.54,20.31,25.73,28.3,33.02,28.3,3.54,55.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
829,NaN,31.7,29.94,21.01,25.97,28.86,31.81,27.66,3.55,64.74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
695,NaN,30.8,28.81,21.9,23.8,28.6,32.9,28.6,3.12,64.67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1125,NaN,31.86,30.2,23.1,20.28,28.3,34.07,25.69,#VALUE!,65.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
344,NaN,By pass,By pass,By pass,By pass,0,31.7,0,3.61,61.97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.head()

,Unnamed: 0,LOWER COND TEMP AT INELT',LOWER COND TEMP AT OUTLET,UPPER COND TEMPE AT INELT,UPPER COND TEMPE AT OUTLET,BENZOL WASHER INLET GAS TEMP,BENZOL WASHER OUTLET GAS TEMP,BENZOL WASHER INLET OIL TEMP,BENZOL WASHER RESISTANCE,RICH OIL FLOW(M3/hr),...,Unnamed: 201,Unnamed: 202,Unnamed: 203,Unnamed: 204,Unnamed: 205,Unnamed: 206,Unnamed: 207,Unnamed: 208,Unnamed: 209,Unnamed: 210
1,NaN,33.99,30.02,27.36,22.18,27.58,35.97,27.58,3.12,65.39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,34.29,31,27.66,22.75,27.39,36.58,27.39,3.35,65.58,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,34.11,31.92,26.67,22.81,27.59,37.54,27.59,2.36,65.43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,33.75,31.16,28.5,23.54,28.11,36.7,28.11,2.54,65.46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,33.12,30.58,28.87,23.25,28.6,36.13,28.6,2.63,65.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.isnull().sum()

Unnamed: 0                    1224
LOWER COND TEMP AT INELT'      149
LOWER COND TEMP AT OUTLET      149
UPPER COND TEMPE AT INELT      149
UPPER COND TEMPE AT OUTLET     148
                              ...
Unnamed: 206                  1187
Unnamed: 207                  1187
Unnamed: 208                  1187
Unnamed: 209                  1187
Unnamed: 210                  1187
Length: 211, dtype: int64

In [14]:
df.shape

(1224, 211)

In [15]:
df.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'